$max-width: 1100px;
$border-radius: 12px;
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 24px;
$text-3xl: 30px;
$text-4xl: 36px;
$text-5xl: 48px;
$gray-300: #d1d5db;
$gray-400: #9CA3AF;
$gray-900: #111827;
$rose-700: #be123c;